{% extends 'base.html' %}

<!-- HTML head -->
{% block html_head %}
<title> Dashboard </title>
{% endblock %}

<!-- Sidebar todolist lists: show user's todolist list -->
{% block sidebar_todolist_lists %}
{% if user.is_authenticated %}
{% if todo_lists %}
{% for list in todo_lists %}
<a href="{% url 'search_todolist' listid=list.pk %}" class="w3-bar-item w3-button">{{ list }}</a>
{% endfor %}
{% endif %}
{% endif %}
{% endblock %}

<!-- Sidebar todolist create form: a form to create a todolist -->
{% block sidebar_todolist_create_form %}
{% if user.is_authenticated %}
<form action="{% url 'create_todolist' %}" method="post" class="w3-bar-item">
    <!-- TODO: a TodoList form to create new TodoList         
    -->
    {% csrf_token %}
    {{todolistform}}
    <button type="submit">Create new List</button>
</form>
{% endif %}
{% endblock %}

<!-- User Name -->
{% block user_name_cotainer %}
{% if user.is_authenticated %}
<h1>Welcome, {{ user.username.upper }}</h1>
{% else %}
<h1>Please Login</h1>
{% endif %}
{% endblock %}

<!-- Todolist detail and todos -->
{% block todo_container %}

<!--Show todolist name in title-->
<div class="w3-bar w3-light-grey">
    {% if current_list %}
    <label class="w3-bar-item">{{current_list.name}}</label>
    {% else %}
    <label class="w3-bar-item"> Dashboard </label>
    {% endif %}
    <div class="w3-dropdown-hover">
        <button class="w3-button">Edit List...</button>
        <div class="w3-dropdown-content w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Rename List</a>
        <a href="#" class="w3-bar-item w3-button">Delete List</a>
        </div>
    </div>
</div>
<!-- Todolist Detail Container -->

<!-- Todolist create form -->
<!-- Todolist todoitem list -->
<!-- Todolist item detail -->
{% endblock %}