<!-- src\todo_awesome\templates\base.html -->
<!DOCTYPE html>
<html>
    <head>
        {% block html_head %}
        {% endblock %}
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <!-- Sidebar for user todolist list -->
        <div class="w3-sidebar w3-bar-block" style="width:25%">
            <h3><a href="{% url 'dashboard' %}">Home</a></h3>
            {% block sidebar_todolist_lists %}
            {% endblock %}

            {% block sidebar_todolist_create_form %}
            {% endblock %}
        </div>

        <!-- page contant -->
        <div style="margin-left:25%">
            <!-- User Name panel -->
            <div class="w3-container w3-teal">
                {% block user_name_cotainer %}
                {% endblock %}
            </div>

            <!-- todolist container -->
            <div class="w3-container">
                {% block html_body %}
                {% endblock %}

                {% block todo_container %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>